zsh/.config/zsh/plugins/ 
zsh/.config/zsh/.history
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.history-mac
zsh/.config/zsh/.zcompcache/brew_casks
zsh/.config/zsh/.zcompcache/brew_formulae
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zsh_sessions/
nvim/.config/nvim/plugin/packer_compiled.lua

/nvim/.config/nvim/plugin/auto-dark-mode.lua
zed/.config/zed/.tmp*
alacritty/.config/alacritty/sedUoH3dT
sway/.config/foot/sedxIkOnH
emacs/.config/
.DS_Store
zsh/.config/zsh/.zprofile
zed/.config/zed/prompts

tmux/.config/tmux/plugins/
agents-cli/.claude/plugins/
agents-cli/.claude/plans/
agents-cli/.claude/telemetry/
agents-cli/.claude/stats-cache.json
nvim/.config/nvim/.nvimlog
vscode/.config/Code/User/
