# -*- mode: org; -*-
#+HTML_HEAD: <link rel="stylesheet" type="text/css" href="~/.org-html-themes/styles/readtheorg/css/htmlize.css"/>
#+HTML_HEAD: <link rel="stylesheet" type="text/css" href="~/.org-html-themes/styles/readtheorg/css/font-awesome.min.css"/>
#+HTML_HEAD: <link rel="stylesheet" type="text/css" href="~/.org-html-themes/styles/css/readtheorg/css/readtheorg.css"/>
#+HTML_HEAD: <script src="~/.org-html-themes/styles/readtheorg/js/jquery.min.js"></script>
#+HTML_HEAD: <script src="~/.org-html-themes/styles/readtheorg/js/bootstrap.min.js"></script>
#+HTML_HEAD: <script type="text/javascript" src="~/.org-html-themes/styles/readtheorg/js/jquery.stickytableheaders.min.js"></script>
#+HTML_HEAD: <script type="text/javascript" src="~/.org-html-themes/styles/readtheorg/js/readtheorg.js"></script>
#+HTML_HEAD: <style type="text/css">
#+HTML_HEAD:   pre.src:hover:before { display: none; }
#+HTML_HEAD: </style>